treechildren::-moz-tree-image(spamscore, negative) {
  list-style-image: url('images/score_negative.svg');
  -moz-image-region: rect(0px 16px 16px 0px);
}
treechildren::-moz-tree-image(spamscore, neutral) {
  list-style-image: url('images/score_neutral.svg');
  -moz-image-region: rect(0px 16px 16px 0px);
}
treechildren::-moz-tree-image(spamscore, positive) {
  list-style-image: url('images/score_positive.svg');
  -moz-image-region: rect(0px 16px 16px 0px);
}
