.input-line * {
  display: inline-block;
  vertical-align: middle;
  margin-top: 10px;
  font-size: 14px;
}
.input-line img {
  margin-right: 5px;
}

/* COLOR SETTINGS FOR DARK/LIGHT THEME */
@media (prefers-color-scheme: light) {
  body {
    color: black;
    background: white;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #202023;
  }
}
