body {
  padding: 0px;
}
h5 {
  margin: 0;
}
h4 {
  margin: 0 4px 10px 4px;
}
table.score-details {
  border-collapse: collapse;
  margin: 0;
  padding: 0;
  width: 100%;
  font-size: 14px;
}
table.score-details tr th {
  text-align: left;
  padding: 5px;
}
table.score-details tr td {
  vertical-align: top;
  padding: 5px;
}
table.score-details tr:last-child td {
  border-bottom: none;
}
table.score-details tr td:nth-child(1) {
  text-align: center;
  padding: 5px 20px;
}
table.score-details tr td:nth-child(2),
table.score-details tr td:nth-child(3) {
  padding: 7px 5px;
}
table.score-details tr td:nth-child(3) {
  max-width: 400px;
}
table.score-details tr th:nth-child(1) {
  padding: 0 20px;
}
table.score-details tr.score td div.info {
  font-size: 80%;
  word-break: break-all;
}
table.score-details tr.score td:nth-child(1) span {
  display: inline-block;
  padding: 2px 4px;
  border-radius: 3px;
  color: white;
  width: 100%;
}
table.score-details tr.score.negative td:nth-child(1) span {
  background-color: #28b62c;
}
table.score-details tr.score.positive td:nth-child(1) span {
  background-color: #fe330a;
}
table.score-details tr.score.neutral td:nth-child(1) span {
  background-color: #a1a1a1;
}

/* COLOR SETTINGS FOR DARK/LIGHT THEME */
@media (prefers-color-scheme: light) {
  body {
    color: black;
    background: white;
  }
  table.score-details tr.score td div.info {
    color: #7a7a7a;
  }
  table.score-details tr td {
    border-bottom: 1px solid #eee;
  }
}

@media (prefers-color-scheme: dark) {
  body {
    color: white;
    background: #333;
  }
  table.score-details tr.score td div.info {
    color: #a0a0a0;
  }
  table.score-details tr td {
    border-bottom: 1px solid #464646;
  }
  table.score-details tr.score.neutral td:nth-child(1) span {
    background-color: #6d6d6d;
  }
}
